:root {
    --max-width: 1352px;
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
    --border-color-header: #00000029;
}

html, body {
    font-size: 16px;
}

img {
    width: 100%;
}

.intro {
    background-color: #fff;
}

.container {
    box-shadow: 0 0.01875rem 0.375rem var(--border-color-header);
    width: 100%;
}

.container .container__inner {
    max-width: var(--max-width);
    height: 4.375rem;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.logo {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.15625rem;
    color: var(--color-primary);
    display: flex;
    align-items: center;
}

.logo .logo_inner {
    padding-top: 1rem;
    padding-bottom: 1.0625rem;
    padding-left: 8.5rem;
}

.mainMenu {
    display: flex;
}

.mainMenu .mainMenu__item {
    text-decoration: none;
    font-size: 0.6875rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 0.9375;
    color: var(--color-grey);
    text-transform: uppercase;
    padding: 1.75rem 2.96875rem;
    letter-spacing: 0.205rem;
    box-sizing: border-box;
}

.mainMenu a:last-child {
    margin-right: 5.53125rem;
}

.mainMenu .mainMenu__item .mainMenu__item--active,
.mainMenu .mainMenu__item:hover {
    border-bottom: 0.25rem solid var(--color-primary);
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
}

.hero .hero__lead {
    font-size: 3.0625rem;
    line-height: 1.16;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: var(--color-black);
    text-align: center;
    margin-top: 8.125rem;
}

.hero .hero__lbl {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    line-height: 1.375;
    color: var(--color-black);
    margin-top: 1.25rem;
}

.hero .hero__btn {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.375;
    font-weight: 700;
    color: var(--color-white);
    background-color: var(--color-primary);
    border-radius: 2.5rem;
    width: 27.5rem;
    height: 4.1875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 2.375rem;
    transition: 200ms ease-in-out;
}

.hero .hero__btn:hover {
    color: var(--color-black);
}

.hero .hero__btn .hero__bgi {
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
}

.main {
    display: flex;
    flex-direction: column;
}

.main .mainLbl {
    font-family: 'Raleway', sans-serif;
    font-size: 2.25rem;
    line-height: 1.167;
    color: var(--color-black);
    text-align: center;
    margin-top: 100px;
}

.main .mainCols {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.main .mainCol {
    display: flex;
    flex-direction: column;
    max-width: 176px;
    width: 100%;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 150px;
}

.main .mainCol .mainCol__pic1 {
    height: 3.9375rem;
    width: 3.9375rem;
    border-radius: 50px;
    background-color: var(--color-redish);
    background-position: center;
}

/*.main .mainCol .mainCol__pic1::after {*/
/*    content: '';*/
/*    background-image: url("../assets/Person.svg");*/
/*    background-size: contain;*/
/*    display: inline-block;*/
/*}*/

.main .mainCol .mainCol__pic2 {
    height: 3.9375rem;
    width: 3.9375rem;
    border-radius: 50px;
    background-color: var(--color-primary);
    background-position: center;
}

.main .mainCol .mainCol__pic3 {
    height: 3.9375rem;
    width: 3.9375rem;
    border-radius: 50px;
    background-color: var(--color-green);
    background-position: center;
}

.main .mainCol .mainCol__nmb {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 1rem;
    line-height: 1.2;
    color: var(--color-black);
    letter-spacing: 0.375rem;
}

.main .mainCol .mainCol__wrd {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.1875;
    color: var(--color-grey);
}