:root {
    --max-width: 1352px;
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
    --border-color-header: #00000029;
    --font-main: "Raleway", sans-serif;
    --font-second: 'Open Sans', sans-serif;
}

html, body {
    font-size: 16px;
}

img {
    width: 100%;
}

.intro {
    background-color: #fff;
}

.container {
    box-shadow: 0 0.01875rem 0.375rem var(--border-color-header);
    width: 100%;
}

.container .container__inner {
    max-width: var(--max-width);
    height: 4.375rem;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.logo {
    text-decoration: none;
    font-family: var(--font-main);
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.15625rem;
    color: var(--color-primary);
    display: flex;
    align-items: center;
}

.logo .logo_inner {
    padding-top: 1rem;
    padding-bottom: 1.0625rem;
    padding-left: 8.5rem;
}

.mainMenu {
    display: flex;
}

.mainMenu .mainMenu__item {
    text-decoration: none;
    font-size: 0.6875rem;
    font-family: var(--font-second);
    font-weight: 700;
    line-height: 0.9375;
    color: var(--color-grey);
    text-transform: uppercase;
    padding: 1.75rem 2.96875rem;
    letter-spacing: 0.205rem;
    box-sizing: border-box;
}

.mainMenu a:last-child {
    margin-right: 5.53125rem;
}

.mainMenu .mainMenu__item .mainMenu__item--active,
.mainMenu .mainMenu__item:hover {
    border-bottom: 0.25rem solid var(--color-primary);
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
}

.hero .hero__lead {
    font-size: 3.0625rem;
    line-height: 1.16;
    font-family: var(--font-main);
    font-weight: 400;
    color: var(--color-black);
    text-align: center;
    margin-top: 8.125rem;
}

.hero .hero__lbl {
    font-size: 1rem;
    font-family: var(--font-second);
    font-weight: 400;
    text-align: center;
    line-height: 1.375;
    color: var(--color-black);
    margin-top: 1.25rem;
}

.hero .hero__btn {
    font-size: 1rem;
    font-family: var(--font-second);
    line-height: 1.375;
    font-weight: 700;
    color: var(--color-white);
    background-color: var(--color-primary);
    border-radius: 2.5rem;
    width: 27.5rem;
    height: 4.1875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 2.375rem;
    transition: 200ms ease-in-out;
}

.hero .hero__btn:hover {
    color: var(--color-black);
}

.hero .hero__btn .hero__bgi {
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
}

.main {
    display: flex;
    flex-direction: column;
}

.main .mainLbl {
    font-family: var(--font-main);
    font-size: 2.25rem;
    line-height: 1.167;
    color: var(--color-black);
    text-align: center;
    margin-top: 100px;
}

.main .mainCols {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    margin: 0 120px 0 120px;
}

.main .mainCol {
    display: flex;
    flex-direction: column;
    max-width: 176px;
    width: 100%;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 150px;
}

.main .mainCol .mainCol__pic1 {
    height: 3.9375rem;
    width: 3.9375rem;
    border-radius: 50px;
    background-color: var(--color-redish);
    background-position: center;
    position: relative;
}

.main .mainCol .mainCol__pic1 img {
    position: absolute;
    width: 70%;
    left: 50%;
}

.main .mainCol .mainCol__pic2 {
    height: 3.9375rem;
    width: 3.9375rem;
    border-radius: 50px;
    background-color: var(--color-primary);
    background-position: center;
    position: relative;
}

.main .mainCol .mainCol__pic2 img{
    position: absolute;
    left: 45%;
    top: 20%;
}

.main .mainCol .mainCol__pic3 {
    height: 3.9375rem;
    width: 3.9375rem;
    border-radius: 50px;
    background-color: var(--color-green);
    background-position: center;
    position: relative;
}

.main .mainCol .mainCol__pic3 img{
    position: absolute;
    left: 40%;
    width: 80%;
    top: 10%;
}

.main .mainCol .mainCol__nmb {
    font-family: var(--font-main);
    font-weight: 800;
    font-size: 1rem;
    line-height: 1.2;
    color: var(--color-black);
    letter-spacing: 0.375rem;
}

.main .mainCol .mainCol__wrd {
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.1875;
    color: var(--color-grey);
}

/*BENEFITS*/

.benefits {
    width: 100%;
    background-color: var(--color-light-grey);
    padding: 100px 0;

}

.benefits__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-main);
}

.benefits__inner {
    width: 1124px;
    height: 370px;
    background-color: var(--color-white);
    border: 1px solid rgb(232, 233, 237);
    margin-bottom: 37px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.benefits__inner--macbook {
    position: relative;
}

.benefits__inner--macbook .benefits__inner--text {
    box-sizing: content-box;
    max-width: 415px;
    margin: 90px 36px;
}

.benefits__inner--macbook .benefits__inner--text::after {
    content: "";
    width: 332px;
    height: 4px;
    background-color: var(--color-redish);
    display: block;
    margin-top: 50px;
}

.benefits__inner--macbook .benefits__inner--title {
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 2.625rem;
}

.benefits__inner--macbook .benefits__inner--lead {
    margin-top: 30px;
    line-height: 1.375rem;
    font-size: 1rem;
    font-family: var(--font-second);
    color: var(--color-black);
}

.benefits__inner--macbook img {
    width: 386px;
    height: 218px;
    position: relative;
    vertical-align: middle;
    margin: 0 117px 0 0;
}

.benefits__inner--picMac::before {
    content: "";
    width: 180px;
    height: 180px;
    background-color: var(--color-redish);
    display: block;
    border-radius: 50px;
    position: absolute;
    right: 109px;
    top: 45px;
    transform: rotate(45deg);
}

.benefits__inner--iphone {
    position: relative;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.benefits__inner--iphone .benefits__inner--text {
    margin: 70px 0;
    max-width: 415px;
    padding: 0 20px 0 70px;
}

.benefits__inner--iphone .benefits__inner--text::after {
    content: "";
    width: 332px;
    height: 4px;
    background-color: var(--color-primary);
    display: block;
    margin-top: 50px;

}

.benefits__inner--iphone .benefits__inner--title {
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 2.625rem;
    max-width: 300px;
}

.benefits__inner--iphone .benefits__inner--lead {
    font-size: 1rem;
    line-height: 1.375rem;

}
.benefits__inner--iphone img {
    width: 426px;
    height: 328px;
    position: absolute;
    top: 40px;
    left: 40px;
}

.benefits__inner--piciPhone::before {
    content: "";
    width: 320px;
    height: 320px;
    background-color: var(--color-green);
    display: block;
    border-radius: 50%;
    position: absolute;
    left: 40px;
    top: 20px;
}

.benefits__inner--trumpet {
    position: relative;
    background: none;
    border: none;
}

.benefit__inner--double {
    display: flex;
    justify-content: space-between;
}

.benefits__inner--trumpet .benefits__inner--text {
    box-sizing: border-box;
    max-width: 640px;
    height: 386px;
    padding: 70px 35px;
    background-color: var(--color-white);
    border: 1px solid rgb(232, 233, 237);
    border-radius: 5px;
}

.benefits__inner--trumpet .benefits__inner--title {
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 2.625rem;
    max-width: 300px;
}
.benefits__inner--trumpet .benefits__inner--lead {
    font-size: 1rem;
    line-height: 1.375rem;
}

.benefits__inner--trumpet .benefits__inner--text::after {
    content: "";
    width: 332px;
    height: 4px;
    background-color: var(--color-green);
    display: block;
    margin-top: 50px;
}

.benefits__inner--trumpet .benefits__inner--picTrumpet {
    width: 472px;
    height: 378px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: var(--color-green);
    border: none;
    margin-left: 60px;
}

.benefits__inner--trumpet .benefits__inner--picTrumpet img {
    width: 295px;
    height: 207px;
}
/* PRICING */

.pricing {
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
    margin: 100px 180px 100px 180px;
}

.pricing__main--title {
    font-size: 2.25rem;
    font-family: var(--font-main);
    font-weight: 400;
    line-height: 1.16;
}

.pricing__main--boxes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}

.pricing__items {
    margin-bottom: 20px;
    font-size: 14px;
    font-family: var(--font-second);
    list-style-type: none;
}

.pricing__items::before {
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 10px;
    background-image: url(../assets/Checkmark-1.svg);
}

.pricing__items--not::before {
    background-image: url("../assets/Close.svg");
}

.pricing__btn {
    color: white;
    font-weight: bold;
    display: inline-block;
    padding: 16px 65px;
    border-radius: 35px;
    border: none;
    text-decoration: none;
    font-size: 13px;
    font-family: var(--font-second);
}

/* BASIC BOX */

.pricing__box--basic {
    width: 370px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--color-redish);
    position: relative;
    padding-bottom: 55px;
}

.pricing__basic--type {
    font-size: 1.25rem;
    font-family: var(--font-main);
    font-weight: 700;
    text-align: center;
    margin-top: 34px;
}

.pricing__basic--price {
    margin-top: 25px;
    font-size: 2.875rem;
    color: var(--color-redish);
    font-family: var(--font-second);
    font-weight: 300;
}

.pricing__basic--items {
    margin-top: 90px;
}

.pricing__basic--btn {
    position: absolute;
    transform: translate(0, -50%);
    top: 100%;
    background-color: var(--color-redish);
}

/* PROFESSIONAL BOX*/

.pricing__box--professional {
    width: 400px;
    margin: 0 40px;
    box-shadow: 5px 1px 27px rgba(7, 172, 230, .16);
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border: 1px solid var(--color-primary);
    padding-bottom: 55px;
}

.pricing__professional--type {
    font-size: 1.3125rem;
    font-family: var(--font-main);
    font-weight: 700;
    text-align: center;
    margin-top: 34px;
}

.pricing__professional--price {
    margin-top: 25px;
    font-size: 2.875rem;
    color: var(--color-primary);
    font-family: var(--font-second);
    font-weight: 300;
}

.pricing__professional--limited{
    margin-top: 15px;
    text-align: center;
    font-size: 0.75rem;
    font-family: var(--font-main);
    font-weight: 700;
}

.pricing__professional--items {
    margin-top: 60px;
}

.pricing__professional--items .pricing__items {
    margin-bottom: 25px;
}

.pricing__professional--btn {
    position: absolute;
    transform: translate(0, -50%);
    top: 100%;
    background-color: var(--color-primary);
}

/* PREMIUM BOX*/

.pricing__box--premium {
    width: 370px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border: 1px solid var(--color-green);
    padding-bottom: 55px;
}

.pricing__premium--type {
    font-size: 1.25rem;
    font-family: var(--font-main);
    font-weight: 700;
    text-align: center;
    margin-top: 34px;
}

.pricing__premium--price {
    margin-top: 25px;
    font-size: 2.875rem;
    color: var(--color-green);
    font-family: var(--font-second);
    font-weight: 300;
}

.pricing__premium--limited{
    margin-top: 15px;
    text-align: center;
    font-size: 0.75rem;
    font-family: var(--font-main);
    font-weight: 700;
}

.pricing__premium--items {
    margin-top: 60px;
}

.pricing__premium--btn {
    position: absolute;
    transform: translate(0, -50%);
    top: 100%;
    background-color: var(--color-green);
}

/*CONTACT*/

.contact {
    width: 100%;
}

.contact__container {
    margin: 0 167px;
    padding: 80px 100px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.contact__info {
    width: 50%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.contact__info--tittle {
    font-family: var(--font-main);
    font-size: 49px;
    line-height: 3.6875rem;
    font-weight: 400;
    margin-top: 0;
}

.contact__info p {
    font-family: var(--font-second);
    font-size: 1rem;
    line-height: 1.375rem;
    margin: 22px 0 42px;
}

.contact__info--details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    font-family: var(--font-second);
    font-size: 1rem;
}

.contact__info--details a {
    text-decoration: none;
    color: var(--color-grey);
    margin-right: 20px;
}

.contact__info--details a img {
    vertical-align: middle;
    height: 27px;
    width: 27px;
    margin-right: 10px;
}

.contact__inputs {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.styleLabel {
    display: flex;
    flex-direction: column;
    margin-bottom: 42px;
}

.styleCheckboxLabel {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.textLabel {
    color: var(--color-primary);
    font-size: 0.6875rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.9rem;
    letter-spacing: 2px;
    font-family: var(--font-second);
}

.contact__inputs--label {
    border: none;
    border-bottom: 1px solid var(--color-grey);
    line-height: 2.625rem;
}

.checkboxLabel {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1.375rem;
}

.styleCheckboxLabel input {
    position: absolute;
    cursor: pointer;
    height: 27px;
    width: 27px;
}

.styleCheckboxLabel input:checked {
    background-image: url(../assets/Checkmark.svg);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
}

.styleCheckboxLabel .checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: var(--color-white);
    border: 1px solid var(--color-grey);
    border-radius: 4px;
    display: inline-block;
}

.textCheckboxLabel {
    margin: 0 10px;
    font-size: 0.75rem;
    color: var(--color-grey);
    line-height: 17px;
}

.contact__btn {
    align-self: flex-end;
    font-size: 0.8125rem;
    padding: 20px 97px;
    margin-top: 20px;
    color: white;
    text-decoration: none;
    border-radius: 35px;
    background-color: var(--color-primary);
    font-size: 13px;
    font-family: var(--font-second);
}

/*FOOTER*/

.footer {
    width: 100%;
    box-shadow: 0 -5px 40px var(--border-color-header);
}

.footer__container {
    max-width: var(--max-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 167px;
    padding: 20px 0;
}

.footer__img {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.footer__logo {
    font-family: var(--font-main);
    font-size: 2rem;
    font-weight: 300;
    color: var(--color-primary);
    text-decoration: none;
    line-height: 1.15rem;
}

.footer__text {
    font-size: 0.6875rem;
    line-height: 1.36rem;
    color: var(--color-grey);
    margin-top: 10px;
    font-family: var(--font-second);
    margin-bottom: 17px;
}

.footer__icons {
    display: flex;
    justify-content: space-between;
}

.footer__icons--btn1 {
    margin-right: 25px;
}


