.contact {
  width: 100%;

  .contact__container {
    margin: 0 167px;
    padding: 80px 100px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    @include breakTablet {
      margin: 0 auto;
      padding: 80px 50px;
    }

    .contact__info {
      width: 50%;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      @include breakTablet {
        margin-right: 10px;
      }

      .contact__info--tittle {
        font-family: $font-main;
        font-size: 49px;
        line-height: 3.6875rem;
        font-weight: 400;
        margin-top: 0;
      }

      .contact__info p {
        font-family: $font-second;
        font-size: 1rem;
        line-height: 1.375rem;
        margin: 22px 0 42px;
      }

      .contact__info--details {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        font-family: $font-second;
        font-size: 1rem;

        .contact__info--email {
          text-decoration: none;
          color: $color-grey;
          margin-right: 20px;

          @include breakTablet {
            margin-right: 0;
          }

          img {
            vertical-align: middle;
            height: 27px;
            width: 27px;
            margin-right: 10px;

            @include breakTablet {
              margin-right: 0;
            }
          }
        }

        .contact__info--tel {
          text-decoration: none;
          color: $color-grey;
          margin-right: 20px;

          @include breakTablet {
            margin-right: 5px;
          }

          img {
            vertical-align: middle;
            height: 27px;
            width: 27px;
            margin-right: 10px;

            @include breakTablet {
              margin-right: 0;
            }
          }
        }
      }


      .contact__inputs {
        width: 50%;
        display: flex;
        flex-direction: column;

        .styleLabel {
          display: flex;
          flex-direction: column;
          margin-bottom: 42px;

          .textLabel {
            color: $color-primary;
            font-size: 0.6875rem;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 0.9rem;
            letter-spacing: 2px;
            font-family: $font-second;
          }

          .contact__inputs--label {
            border: none;
            border-bottom: 1px solid $color-grey;
            line-height: 2.625rem;
          }
        }

        .styleCheckboxLabel {
          .checkboxLabel {
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 1.375rem;
          }

          .checkboxInput {
            position: absolute;
            cursor: pointer;
            height: 27px;
            width: 27px;
          }

          // Nie potrafię tego ustawić
          // .checkboxInput:checked {
          //    background-image: url(../assets/Checkmark.svg);
          //    background-position: center;
          //    background-size: 50%;
          //    background-repeat: no-repeat;
          //}

          //.checkbox {
          //  position: absolute;
          //  top: 0;
          //  left: 0;
          //  height: 25px;
          //  width: 25px;
          //  background-color: $color-white;
          //  border: 1px solid $color-grey;
          //  border-radius: 4px;
          //  display: inline-block;
          //}

          .textCheckboxLabel {
            margin: 0 10px;
            font-size: 0.75rem;
            color: $color-grey;
            line-height: 17px;
          }
        }

        .contact__btn {
          align-self: flex-end;
          font-size: 0.8125rem;
          padding: 20px 97px;
          margin-top: 20px;
          color: white;
          text-decoration: none;
          border-radius: 35px;
          background-color: $color-primary;
          font-family: $font-second;
        }
      }
    }
  }
}